.catalog {
  padding: 0 2rem;

  &__title {
    margin-top: 6rem;
    margin-bottom: 2rem;
    font-size: 2.2rem;
    text-align: center;
    font-weight: 700;
  }

  &__filter {
    background-color: #dfdfdf;
    color: #222;

    margin-bottom: 3rem;

    img {
      max-width: 2rem;

      margin-left: 1rem;
      margin-bottom: -0.5rem;
    }
  }

  &__table {
    border: none;

    min-width: 300px;
    width: 100%;
    box-shadow: 0px 0.5rem 2rem rgba(0, 0, 0, 0.15);
    border-radius: 15px;

    &__image {
      max-width: 5.2rem;
      padding: 1rem;

      img {
        border-radius: 50%;

        max-width: 4.5rem;
        max-height: 4.5rem;

        box-shadow: 0px 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
      }
    }

    tr {
      th,
      td {
        text-align: left;
        padding: 1rem;

        border-bottom: 1px solid #eee;

        &:not(:last-child) {
          border-right: 1px solid #eee;
        }
      }

      td[data-th="Блогер"] {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }

    tr:last-child {
      td {
        border-bottom: 0;
      }
    }

    &__theme {
      border-radius: 5px;
      text-align: center;
      padding: 0.5rem;
    }
  }

  &__cards {
  }

  &__card {
    margin-right: 25px;
    margin-bottom: 2rem;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    width: 100%;
    height: 20rem;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0.5rem 2rem rgba(0, 0, 0, 0.15);

    &:last-child {
      margin-bottom: 10rem;
    }

    &__img {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: auto;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }

    &__info {
      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      padding: 1rem 2rem;
      background-color: #fefefe;

      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__avatar {
      position: relative;
      width: 6rem;

      img {
        position: absolute;
        border-radius: 50%;
        top: -6rem;
        left: -0.75rem;

        width: 7rem;
        height: 7rem;

        box-shadow: 0px 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
      }
    }

    &__title {
      font-family: "Montserrat", sans-serif;

      font-size: 1rem;
      width: 40%;
    }

    &__theme {
      font-size: 0.9rem;
      background-color: rgb(202, 233, 202);
      padding: 0.3rem;
      // margin-top: -0.3rem;
      border-radius: 3px;
    }

    &__social {
      img {
        opacity: 0.8;
        max-width: 2rem;
        max-height: 2rem;
        margin-left: 0.2rem;
        margin-top: 0.3rem;
      }
    }
  }

  [data-theme="music"] {
    background-color: rgb(211, 238, 211);
  }

  [data-theme="humor"] {
    background-color: rgb(238, 211, 228);
  }

  [data-theme="food"] {
    background-color: rgb(238, 236, 211);
  }
}

@media only screen and (max-width: 370px) {
  .catalog {
    &__card {
      &__info {
        padding: 1rem 1.5rem;
      }

      &__avatar {
        width: 4rem;
        img {
          top: -3.5rem;
          left: -0.75rem;

          width: 5rem;
          height: 5rem;
        }
      }

      &__title {
        width: 30%;
      }
    }
  }
}
